@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap");

// colors
$violet: hsl(257, 40%, 49%);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: url("images/bg-desktop.svg") no-repeat center / cover;
  min-height: 100vh;
}
